/* || COLORS ||
================================================================ */
:root {
  --body-bg: rgb(228, 255, 73);
  --primary-text-color: rgb(255, 255, 255);
  --text-shadow: rgba(110, 21, 1, 1);
  --menu-bg: rgba(255, 47, 0, 0.854);
  --menu-border: rgba(110, 21, 1, 0.854);
  --dialogue-border: rgba(65, 180, 153, 0.86);
  --dialogue-bg: rgb(82, 237, 201);
  --dialogue-text: rgba(7, 52, 41, 0.86);

  --button-bg: rgb(242, 134, 1);
  --button-highlight: rgb(255, 229, 196);
  --button-shadow: rgb(145, 81, 0);
  --button-active-bg: rgb(247, 137, 0);

  --option-bg: rgb(15, 150, 104);
  --option-highlight: rgb(102, 205, 171);
  --option-shadow: rgb(0, 87, 58);
  --option-hover: rgb(212, 60, 160);
  --option-hover-highlight: rgb(200, 131, 176);
  --option-hover-shadow: rgb(152, 0, 99);
  --option-active: rgb(212, 60, 160);
  --option-active-highlight: rgb(200, 131, 176);
  --option-active-shadow: rgb(152, 0, 99);
}

/* || GENERAL STYLES & TYPOGRAPHY ||
================================================================ */

* {
  box-sizing: border-box;
  font-family: "Press Start 2P", serif;
  font-weight: 200;
  font-style: normal;
}

body {
  background-color: var(--body-bg);
  margin: 0;
}

h1 {
  font-size: 1rem;
  line-height: 2rem;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  width: 260px;
  text-shadow:
  var(--text-shadow) 1px 1px,
  var(--text-shadow) 2px 2px,
  var(--text-shadow) 3px 3px,
  var(--text-shadow) 3px 3px,
  var(--text-shadow) 4px 4px,
  var(--text-shadow) 5px 5px,
  var(--text-shadow) 6px 6px,
  var(--text-shadow) 7px 7px,
  var(--text-shadow)8px 8px,
  var(--text-shadow) 9px 9px,
  var(--text-shadow) 10px 10px
}

h2 {
  font-size: 16px;
  color: var(--primary-text-color);
}

ul {
  padding-inline-start: 14px;
}

.hide {
  display: none;
}

/* || COMPONENTS ||
================================================================ */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.Menu, .Result, .Questions, .Matches, .Selection {
  background-color: var(--menu-bg);
  border: 2px solid var(--text-shadow);
  border-radius: 35px;
  margin: 5px;
  width: 350px;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  align-items: center;
  margin-top: 8px;
  position: relative;
  box-shadow:
  var(--text-shadow) 1px 1px,
  var(--text-shadow) 2px 2px,
  var(--text-shadow) 3px 3px,
  var(--text-shadow) 4px 4px,
  var(--text-shadow) 5px 5px,
  var(--text-shadow) 6px 6px,
  var(--text-shadow) 7px 7px,
  var(--text-shadow) 8px 8px,
  var(--text-shadow) 9px 9px,
  var(--text-shadow) 10px 10px,
  var(--text-shadow) 11px 11px,
  var(--text-shadow) 12px 12px,
  var(--text-shadow) 13px 13px,
  var(--text-shadow) 14px 14px,
  var(--text-shadow) 15px 15px,
  var(--text-shadow) 16px 16px,
  var(--text-shadow) 17px 17px,
  var(--text-shadow) 18px 18px,
  var(--text-shadow) 19px 19px,
  var(--text-shadow) 20px 20px,
  var(--text-shadow) 21px 21px,
  var(--text-shadow) 22px 22px,
  var(--text-shadow) 23px 23px,
  var(--text-shadow) 24px 24px,
  var(--text-shadow) 25px 25px,
  var(--text-shadow) 26px 26px,
  var(--text-shadow) 27px 27px,
  var(--text-shadow) 28px 28px,
  var(--text-shadow) 29px 29px,
  var(--text-shadow) 30px 30px
}

.dialogue {
  background-color: var(--dialogue-bg);
  border: 6px var(--dialogue-border);
  border-style: inset solid;
  color: var(--dialogue-text);
  border-radius: 20px;
  min-height: 300px;
  margin: 10px;
  padding: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  line-height: 20px;
  font-size: 10px;
  width: 275px;
}

/* || FORM ||
================================================================ */

form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100%;
  text-align: left;
}

label {
  display: block;
  font-size: 10px;
  color: var(--primary-text-color);
  text-shadow:
  var(--text-shadow) 1px 1px,
  var(--text-shadow) 2px 2px,
  var(--text-shadow) 3px 3px
}

input, input:focus {
  width: 260px;
  height: 45px;
  margin: 10px auto;
  padding: 10px;
  font-size: .7rem;
  border: 4px inset rgb(195, 158, 157);
  border-radius: 10px;
  outline: none;
}

/*|| BUTTONS ||
================================================================ */
button {
  color: white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  background-color: var(--button-bg);
  padding: 10px 10px;
  width: 250px;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: inset 0 1px 0 var(--button-highlight), 0 8px 0 var(--button-shadow);
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
  margin: 10px auto;
  height: 35px;
}

button:active {
  top: 6px;
  background-color: var(--button-active-bg);
  box-shadow: inset 0 1px 0 var(--button-highlight), inset 0 -3px 0 var(--button-shadow);
}

.submit {
  margin-top: 10px;
}

.secondary, .secondary:hover {
  background-color: var(--option-bg);
  box-shadow: inset 0 1px 0 var(--option-highlight), 0 8px 0 var(--option-shadow);
  -webkit-tap-highlight-color: rgba(129, 120, 120, 0);
  text-shadow: 0px 1px 0px #000;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  background-color: var(--option-bg);
  box-shadow: inset 0 1px 0 var(--option-highlight), 0 8px 0 var(--option-shadow);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

.option:hover {
  background-color: var(--option-hover);
  box-shadow: inset 0 1px 0 var(--option-hover-highlight), 0 8px 0 var(--option-hover-shadow);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

.option:active {
  top: 6px;
  background-color: var(--option-active);
  box-shadow: inset 0 1px 0 var(--option-active-highlight), inset 0 -3px 0 var(--option-active-shadow);
}

.selected {
  top: 6px;
  background-color: var(--option-active);
  box-shadow: inset 0 1px 0 var(--option-active-highlight), inset 0 -3px 0 var(--option-active-shadow);
}

.selected:active {
  top: 6px;
  background-color: var(--option-active);
  box-shadow: inset 0 1px 0 var(--option-active-highlight), inset 0 -3px 0 var(--option-active-shadow);
}

.option, .selected {
  width: 250px;
}

/* || POKEMON SELECTION ||
================================================================ */
.pokemon-matches {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  justify-content: center;
  align-items: end;
  border-radius: 8px;
  width: 100%;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  height: 100%;
  padding: 5px;
}

.pokemon-card img {
  display: block;
  max-width: 100%;
  height: auto;
  align-self: center;
}

.buddy {
  width: 100%;
  margin-top: auto;
  margin-bottom: 10px;
  text-align: center;
}
