.certificate-container {
  width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: 5px solid #a5483c;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  text-align: center;
  background-size: cover;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  line-height: 30px;
}

header {
  font-size: 28px;
  font-weight: bold;
  color: #b62525;
  text-transform: uppercase;
}

.certificate-content {
  padding: 3px;
  background-color: rgb(250, 214, 166);
  border-radius: 10px;
  margin-bottom: 20px;
  line-height: 25px;
  padding-top: 25px;
}

.certificate-content p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

h4 {
  font-size: 25px;
  color: #b62525;
  font-weight: bold;
}

.pokemon-certificate-img {
  width: 220px;
  height: auto;
  border-radius: 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.certificate-info {
  font-size: 16px;
  color: #555;
  margin-top: 20px;
}

.certificate-info strong {
  font-weight: bold;
}

footer {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 25px;
}

/* hiding footer buttons when generating PDF */
@media print {
  .hidden-print {
    display: none !important;
  }
}

.color-selector label {
  font-size: 12px;
  color: #fa3a3a;
}

.color-selector input[type="color"] {
  width: 130px;
  height: 45px;
  cursor: pointer;
}
